{% extends "base.html" %}

{% block title %} Ella's About Page {% endblock %}

{% block body %} 
    <main class="container">
        <h1> About Ella </h1>
        <p> Hi! I'm Ella Zaputil, a fourth year student at the University of Iowa, majoring in Business Analytics & Information Systems and pursuing an Event Management Certificate. I will be graduating in December 2025 and am actively searching for full-time roles in the Des Moines or Iowa City areas. Through my previous experiences, I've found a passion for event coordination, digital marketing, and data-driven storytelling. As I continue growing, I'm excited to explore opportunities that merge business insights and creative problem solving.</p>
        <p>Outside of school & work, I spend most of my time with family and friends, watching new TV shows, going on walks, golfing, or trying new places to eat. Many of my weekends are spent watching sports, cheering on the Iowa Hawkeyes, Pittsburgh Steelers, and St. Louis Cardinals! I'm also a big fan of podcasts and audiobooks. </p>
    </main>
{% endblock %}